<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILELOG" class="ch.qos.logback.core.FileAppender">
    	<append>true</append>
    	<file>log/stater.log</file>	
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
	</appender>
		
    <root name="LOGGER" level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILELOG"/>
    </root>
</configuration>